<div class="db4">
  <div class="header">
    <h2>Projektų administravimas</h2>
    <div class="legend">
      <ul class="first">
        <li>Planas pajamų</li>
        <li>Planas išlaidų</li>
        <li>Planas darbo užmokesčio</li>
      </ul>
      <ul class="second">
        <li>Faktas pajamų</li>
        <li>Faktas išlaidų</li>
        <li>Faktas darbo užmokesčio</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="chart">
      <p>€</p>
      <canvas *ngIf="chart" #graphCanvas height="600" width="1744">{{ chart }}</canvas>
      <div class="calendar">
        <img src="../../assets/forma-1.png" alt="Calendar picture">
        <p>2018</p>
      </div>
    </div>
    <div class="projects">
      <div class="projects-container">
        <div class="projects-type" style="background: linear-gradient(45deg, rgb(151, 33, 33), rgb(166, 42, 42))">
          <span>Nebaigtų projektų likusių aktavimų sutarčių vertė</span>
        </div>
        <div class="projects-count" style="background: linear-gradient(45deg, rgb(166, 42, 42), rgb(151, 33, 33));">
          <span>{{remainingValue}}€</span>
        </div>
      </div>
      <div class="projects-container">
        <div class="projects-type" style="background: linear-gradient(45deg, rgb(146, 201, 195), rgb(130, 191, 184));">
          <span>Vykdomų projektų skaičius</span>
        </div>
        <div class="projects-count" style="background: linear-gradient(45deg, rgb(130, 191, 184), rgb(146, 201, 195));">
          <span>{{projectsInProgress}}</span>
        </div>
      </div>
      <div class="projects-container">
        <div class="projects-type" style="background: linear-gradient(45deg, rgb(152, 195, 89), rgb(136, 184, 74));">
          <span>Praėjusio mėnesio pardavimų apimtis</span>
        </div>
        <div class="projects-count" style="background: linear-gradient(45deg, rgb(136, 184, 74), rgb(152, 195, 89));">
          <span>{{lastMonthSell}}€</span>
        </div>
      </div>
    </div>
  </div>
</div>
