<div class="db3">
  <div class="container">
    <div class="info">Nebaigtų projektų likusių aktavimų sutarčių vertė</div>
    <div class="money">{{value}}
      <span>€</span>
    </div>
  </div>
</div>
