.db3 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  width: 1825px;
  height: 980px;
  display: flex;
  flex-direction: column;
}

.info:first-child {
  text-transform: uppercase;
  margin-top: 230px;
  font-size: 60px;
}

.info {
  margin-left: 127px;
  margin-top: 43px;
  width: 1045px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.money {
  margin-left: 127px;
  margin-top: 100px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: rgb(120, 102, 160);
  font-size: 250px;
}

.money span {
  font-weight: 700;
}
