.db4 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 1799px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #2b2b2b;
  font-size: 40px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header .legend {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 121px;
}

.header .first,
.header .second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header ul {
  height: 121px;
}

.header ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.header ul li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 16px;
}

.header ul.first li:nth-child(1) {
  color: #d14035;
}

.header ul.first li:nth-child(1)::before {
  background-color: #d14035;
}

.header ul.first li:nth-child(2) {
  color: #a9bb30;
}

.header ul.first li:nth-child(2)::before {
  background-color: #a9bb30;
}

.header ul.first li:nth-child(3) {
  color: #72598e;
}

.header ul.first li:nth-child(3)::before {
  background-color: #72598e;
}

.header ul.second li:nth-child(1) {
  color: #05a6a6;
}

.header ul.second li:nth-child(1)::before {
  background-color: #05a6a6;
}

.header ul.second li:nth-child(2) {
  color: #eb8a3c;
}

.header ul.second li:nth-child(2)::before {
  background-color: #eb8a3c;
}

.header ul.second li:nth-child(3) {
  color: #c2718c;
}

.header ul.second li:nth-child(3)::before {
  background-color: #c2718c;
}

.header ul.first li:last-child {
  margin-bottom: 0;
}

.container {
  background-color: #fff;
  width: 1769px;
  height: 843px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chart {
  width: 1744px;
  height: 600px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chart>p {
  padding-top: 5px;
  width: 1715px;
  color: #4b4b4b;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.chart .calendar {
  height: 112px;
  width: 35px;
  position: absolute;
  bottom: 50px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chart .calendar p {
  transform: rotate(270deg);
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.projects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.projects-container {
  width: 550px;
  margin-left: 35px;
}

.projects-container:first-child {
  margin-left: 0px;
}

.projects-type {
  width: 550px;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.projects-type span {
  display: inline-block;
  color: rgb(253, 253, 253);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  position: relative;
  top: 35px;
  text-transform: uppercase;
}

.projects-count {
  width: 550px;
  height: 100px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.projects-count span {
  display: inline-block;
  color: rgb(253, 253, 253);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 72px;
  position: relative;
  top: 5px;
}
