<div class="db2">
  <div class="header">
    <h2>Pagrindinis</h2>
    <div class="legend">
      <ul class="first">
        <li>Planas pajamų</li>
        <li>Planas išlaidų</li>
        <li>Planas darbo užmokesčio</li>
      </ul>
      <ul class="second">
        <li>Faktas pajamų</li>
        <li>Faktas išlaidų</li>
        <li>Faktas darbo užmokesčio</li>
      </ul>
    </div>
  </div>
  <div class="chart">
    <p>€</p>
    <canvas *ngIf="chart" #graphCanvas width="1768" height="790">{{ chart }}</canvas>
    <div class="calendar">
      <img src="../../assets/forma-1.png" alt="Calendar picture">
      <p>2018</p>
    </div>
  </div>
</div>
