.wrap {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #fff;
  width: 900px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

a {
  text-transform: uppercase;
}
