<div class="wrap">
  <div class="nav">
    <ul>
      <li>
        <a routerLink="carousel">Carousel</a>
      </li>
      <li>
        <a routerLink="db1">PAJAMOS</a>
      </li>
      <li>
        <a routerLink="db2">PAGRINDINIS</a>
      </li>
      <li>
        <a routerLink="db3">Nebaigtų projektų vertė</a>
      </li>
      <li>
        <a routerLink="db4/1">Skyrius "Projektų rengimas"</a>
      </li>
      <li>
        <a routerLink="db4/2">Skyrius "Projektų administravimas"</a>
      </li>
      <li>
        <a routerLink="db4/3">Skyrius "Tyrimai"</a>
      </li>
      <li>
        <a routerLink="db4/4">Skyrius "MOKYMAI"</a>
      </li>
      <li>
        <a routerLink="db5">VIEŠIEJI PIRKIMAI</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.wrap -->
