.db5 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 1825px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #2b2b2b;
  font-size: 40px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.container {
  background-color: #fff;
  width: 1825px;
  height: 880px;
  display: flex;
  flex-wrap: wrap;
}

.a {
  width: 1730px;
  height: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.graph-container {
  margin-bottom: 135px;
  width: 805px;
  height: 320px;
  text-transform: uppercase;
  display: flex;
  font-size: 24px;
}

.graph {
  width: 300px;
  height: 300px;
  margin: 50px 20px;
}

.last {
  margin-left: 330px;
}

.graph-unique {
  width: 890px;
  height: 263px;
}

.graph-info {
  display: flex;
  flex-direction: column;
}

.graph-info p {
  margin-bottom: 36px;
}

table {
  border-collapse: collapse;
}

tr,
td {
  border: 1px solid rgb(238, 238, 238);
}

td {
  font-size: 18px;
  width: 327px;
  height: 60px;
  padding-left: 25px;
}

td.bald {
  width: 110px;
  text-align: center;
  padding: 0px;
}

.bald {
  font-weight: 700;
}
