<div class="db5">
  <div class="header">
    <h2>Viešieji pirkimai</h2>
  </div>
  <div class="container">
    <div class="a">
      <div class="graph-container">
        <div class="graph">
          <canvas *ngIf="pieChart1" height="300" width="300" #pieCanvas1>{{ pieChart1 }}</canvas>
        </div>
        <div class="graph-info">
          <p class="bald">Pardavimai pagal skyrius</p>
          <table>
            <tr>
              <td style="color: rgb(5, 165, 165)">{{pie1Titles[0]}}</td>
              <td class="bald">{{pie1Data[0]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(208, 64, 53)">{{pie1Titles[1]}}</td>
              <td class="bald">{{pie1Data[1]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(166, 184, 46)">{{pie1Titles[2]}}</td>
              <td class="bald">{{pie1Data[2]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(231, 123, 49)">{{pie1Titles[3]}}</td>
              <td class="bald">{{pie1Data[3]}}K€</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph-info">
          <p class="bald">Pardavimai pagal mėnesius</p>
          <div *ngIf="chart" class="graph-unique">
            <canvas #graphCanvas height="663" width="1735">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph">
          <canvas *ngIf="pieChart2" height="300" width="300" #pieCanvas2>{{ pieChart2 }}</canvas>
        </div>
        <div class="graph-info">
          <p class="bald">Pardavimai pagal ŠALTINĮ</p>
          <table>
            <tr>
              <td style="color: rgb(20, 125, 169)">{{pie2Titles[0]}}</td>
              <td class="bald">{{pie2Data[0]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(203, 118, 49)">{{pie2Titles[1]}}</td>
              <td class="bald">{{pie2Data[1]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(161, 72, 177)">{{pie2Titles[2]}}</td>
              <td class="bald">{{pie2Data[2]}}K€</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph">
          <canvas *ngIf="pieChart3" height="300" width="300" #pieCanvas3>{{ pieChart3 }}</canvas>
        </div>
        <div class="graph-info">
          <p class="bald">PARDAVIMAI PAGAL PARDAVĖJUS</p>
          <table>
            <tr>
              <td style="color: rgb(195, 115, 142)">{{pie3Titles[0]}}</td>
              <td class="bald">{{pie3Data[0]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(112, 166, 32)">{{pie3Titles[1]}}</td>
              <td class="bald">{{pie3Data[1]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(117, 92, 145)">{{pie3Titles[2]}}</td>
              <td class="bald">{{pie3Data[2]}}K€</td>
            </tr>
            <tr>
              <td style="color: rgb(59, 75, 192)">{{pie3Titles[3]}}</td>
              <td class="bald">{{pie3Data[3]}}K€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
