.db1 {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  width: 1825px;
  height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profit {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}

.chart {
  width: 1735px;
  height: 625px;
}

.projects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.projects-type {
  display: inline-block;
  width: 305px;
  height: 200px;
  background: linear-gradient(45deg, rgb(98, 80, 140), rgb(120, 102, 160));
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 35px;
}

.projects-type:first-child {
  margin-left: 0;
}

.projects-type img {
  height: 55px;
  position: relative;
  top: 25px;
  left: 47px;
}

.projects-type span {
  display: inline-block;
  width: 100px;
  color: rgb(253, 253, 253);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  top: 110px;
  font-size: 30px;
  line-height: 30px;
}

.projects-count {
  display: inline-block;
  width: 250px;
  height: 200px;
  background: linear-gradient(to right, rgb(120, 102, 160), rgb(98, 80, 140));
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.projects-count span {
  display: inline-block;
  color: rgb(253, 253, 253);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 120px;
  position: relative;
  top: 30px;
}
