<div class="db1">
  <div class="container">
    <div class="profit">2018m. PAJAMOS, €</div>
    <div class="chart">
      <div *ngIf="chart">
        <canvas #graphCanvas height="625" width="1735">{{ chart }}</canvas>
      </div>
    </div>
    <div class="projects">
      <div class="projects-type">
        <img src="../assets/icon-1.png">
        <span>PLANUOJAMI PROJEKTAI</span>
      </div>
      <div class="projects-count">
        <span>{{planned}}</span>
      </div>
      <div class="projects-type">
        <img src="../assets/icon-2.png">
        <span>VYKDOMI PROJEKTAI</span>
      </div>
      <div class="projects-count">
        <span>{{inProgress}}</span>
      </div>
      <div class="projects-type">
        <img src="../assets/icon-3.png">
        <span>UZDARYTI PROJEKTAI</span>
      </div>
      <div class="projects-count">
        <span>{{closed}}</span>
      </div>
    </div>
  </div>
</div>
