@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900');
body {
  margin: 0;
  background-image: url('./assets/what-the-hex.png');
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
